<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPdart</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="menu-container">
                <div class="menu-icon" id="menu-icon">&#9776;</div>
                <div class="dropdown-menu" id="dropdown-menu">
                    <a href="{{ url_for('sell') }}">Sell</a>
                    <!-- <a href="{{ url_for('help') }}">Help</a> -->
                    <a href="{{ url_for('view') }}">View products</a>
                    <!-- <div class="menu-aboutUs" id="menu-aboutUs"></div> -->
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;
            <center><a href="{{ url_for('index') }}"><img class="logo-img" src="\static\logo.png" alt="logo" ></a> </center>
            <div class="search-bar">
                <input type="text" placeholder="Search...">
                <button type="button">&#128269;</button>  
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('vehicles')}}">Vehicle</a></li>
                <li><a href="{{ url_for('electronics')}}">Electronics</a></li>
                <li><a href="{{ url_for('furnitures')}}">Furniture</a></li>
                <li><a href="{{ url_for('books')}}">Books</a></li>
            </ul>
        </nav>
    </header>

    <main><center><h1>Products available :</h1></center></main>
    <div id="itemsBox" style="display: none;">
        <!-- <h2>Items for Sale</h2>
        {% for item in items %}
            <li>
                <strong>Product:</strong> {{ item[1] }} <br>
                <strong>Price:</strong> {{ item[2] }} <br>
                <strong>Years Used:</strong> {{ item[3] }} <br>
                <strong>Owner:</strong> {{ item[4] }} <br>
                <strong>Contact:</strong> {{ item[5] }} <br>
                {% if item[6] %}
                <img src="{{ url_for('static', filename=item[6].split('/')[-1]) }}" alt="{{ item[1] }}" width="100">
                {% endif %} 
            </li>
            {% endfor %} -->
    </div>    
<script src="{{ url_for('static', filename='script.js') }}"></script>

    <footer>
        <p>&copy; 2024 UpDART. All rights reserved.</p>
    </footer>
    
</body>
</html>